
//REMOVE DUPLICATES IN A LIST
//CHECK MIST PHOTO
//SET TIMER, UNTIL LOADED
//CHECK MOBILE VERSION



// Fonts
@mixin nunitoFont(){
    font-family: 'Nunito', sans-serif;
}

// General selectors
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;    
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

body {
    @include nunitoFont();
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: 100%;
    display: block;
}

button {
    @include nunitoFont();
    text-decoration: none;
    border: 3px transparent solid; 
    display: block;
}

button:hover, input:hover, input:focus {
    border: 3px white solid; 
    color: white;
}

button:focus {
    color: black;
}

ul {
    list-style: none;
}

main {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    min-height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: $primaryFont;
}

h2 {
    font-size: 5rem;
    color: $primaryFont;
    text-transform: uppercase;
}

figure {
    margin: 0
}

// Loading

.mainHide {
    display: none;
}

.loading {
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:35%;
    transform: translate(-50%, -50%);
}

.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: $secondaryTransperent;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: $primaryTransperent;
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}

.loading span{
    position: absolute;
    top:75px;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 6.5px;
    color: $loading;
    left:15%;
}