// Colors
//Transperent colors
$primaryTransperent:rgba(43,45,66, 0.8);
$secondaryTransperent:rgba(24,82,139, 0.8);
$tertiaryTransperent:rgba(255,255,255, 0.8);
$quanternaryTransperent:rgba(255,165,0, 0.5);
$quanternaryTransperentDark:rgba(39,39,39, 0.9);
//Main colors
$primaryBody: #ffa500;
$primaryWarning: #fb3640;
$secondaryBodyDark: #18548B;
$secondaryBodyLight: #91c0f8;
$secondaryBodyBright:#ffff00;

$loading: #74561e;

//Font colors
$primaryFont:#ffffff;
$secondaryFont:#000000;
